@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* theme colors */
  --1-primary: #048BA8;
  --1-secondary: #F18F01;
  --1-tertiary: #C072A5;
  --2-primary: #E8998D;
  --2-secondary: #6C9A8B;
  --2-tertiary: #EED2CC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
