@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* global colors */
    --off-white: #D8D8D8;

    /* theme colors */
    --1-primary: #048BA8;
    --1-secondary: #F18F01;
    --1-tertiary: #C072A5;
    --2-primary: #E8998D;
    --2-secondary: #6C9A8B;
    --2-tertiary: #EED2CC;

    /* default dark and light colors */
    --bg-primary: 216 216 216; /*#D8D8D8;*/
    --bg-secondary: 229 229 229; /*#e5e5e5;*/

    --text-primary: 15 23 42; /*#0f172a;*/

    /* default accent theme colors*/
    --accent-primary: 4 139 168; /*#048BA8;*/
    --accent-secondary: 241 143 1; /*#F18F01;*/
    --accent-tertiary: 192 114 165; /*#C072A5;*/
  }

  .dark {
    --bg-primary: 30 41 59; /*#1e293b;*/
    --bg-secondary: 51 65 85; /*#334155;*/

    --text-primary: 216 216 216; /*#D8D8D8;*/
  }
   
  /* accent color themes */
  .sunset-overlook {
    --accent-primary: 4 139 168; /*#048BA8;*/
    --accent-secondary: 241 143 1; /*#F18F01;*/
    --accent-tertiary: 192 114 165; /*#C072A5;*/
  }

  .picnic-in-spring {
    --accent-primary: 232 153 141; /*#E8998D;*/
    --accent-secondary: 108 154 139; /*#6C9A8B;*/
    --accent-tertiary: 238 210 204; /*#EED2CC;*/
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
